# Test Site (Do not delete)
name: Transcript Audio VOT

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  transcribe:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      # 1️⃣ Clone repo tanpa dotfiles
      - name: Clone Whisper-CPP dan keluarkan isinya ke ../
        run: |
          git clone https://github.com/Sparkplugx1904/Whisper-CPP.git temp_whisper
          cd temp_whisper
          shopt -s extglob
          mv !(.?*) ../
          cd ..
          rm -rf temp_whisper

      # 2️⃣ Setup FFmpeg
      - name: Setup FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v3

      # 2️⃣ Setup FFmpeg
      - name: Setup FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v3

      # 2️⃣ Setup FFmpeg
      - name: Setup FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v3

      # 3️⃣ Install dependencies
      - name: Install Python dependencies
        run: |
          pip install requests pydub 

      # 4️⃣ Transcribe audio
      - name: Run transcriptor CPP
        run: |
          # python3 -u transcriptor_cpp.py "https://github.com/Sparkplugx1904/voiceoftrisma/raw/refs/heads/main/assets/sample_vot.mp3" -m medium
          # python3 -u transcriptor_cpp.py "https://archive.org/download/vot-denpasar-20251122-183000/VOT-Denpasar_22-11-25-0.mp3" -m medium
          python3 -u transcriptor_cpp.py "https://archive.org/download/vot-denpasar-20251122-183000/VOT-Denpasar_22-11-25-0.mp3" -cm "https://storage.googleapis.com/kaggle-script-versions/281311564/output/whisper-medium-id/ggml-model-q8_0.bin?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20251124%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20251124T015815Z&X-Goog-Expires=3600&X-Goog-SignedHeaders=host&X-Goog-Signature=7ea9cd8404ebc506fde8f0086907e504f2fa2bdf2d487d3bed9fed3b3828e6ecffede6105678dc1a99256020fcb4d5d05aa8dc31391ce21afabc5098938b25d138d9d7eac7af0132ca3ea34a3f79e3a9586266283cadb15034bd1043fc29e96c35ae26b749a0fda0e46445cb8a58f3ce77c9608a9f35e86c7403c7c99688fe98a98a9157cea0d204a523540cfef51381818ff8b9ab9a92abd72f2c07145bb88ef3e57870155c31c1b718c4577fb49e3147ee9c5ca295a2ba96bfca65e323d9f4f65dbf311ce6781d8e094f7af99b92a2db66048f67e365e87b7d118e0ed4e3a455333aae3b43142b64f092ea44a7be0ad090983061c250612a1b87a5f93b1a18"

      # 5️⃣ Upload hasil transkrip sebagai artifact
      - name: Upload transcript artifact
        uses: actions/upload-artifact@v4
        with:
          name: vot-transcript
          path: transcripts/
          retention-days: 1
