# Test Site (Do not delete)
name: Transcript Audio VOT

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  transcribe:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      # 1️⃣ Clone repo tanpa dotfiles
      - name: Clone Whisper-CPP dan keluarkan isinya ke ../
        continue-on-error: true
        run: |
          git clone https://github.com/Sparkplugx1904/Whisper-CPP.git temp_whisper
          cd temp_whisper
          shopt -s extglob
          mv !(.?*) ../
          cd ..
          rm -rf temp_whisper

      # # 2️⃣ Setup FFmpeg
      # - name: Setup FFmpeg
      #   continue-on-error: true
      #   uses: FedericoCarboni/setup-ffmpeg@v3

      # # 2️⃣ Setup FFmpeg
      # - name: Setup FFmpeg
      #   continue-on-error: true
      #   uses: FedericoCarboni/setup-ffmpeg@v3
        
      # # 2️⃣ Setup FFmpeg
      # - name: Setup FFmpeg
      #   continue-on-error: true
      #   uses: FedericoCarboni/setup-ffmpeg@v3

      # 3️⃣ Install dependencies
      - name: Install Python dependencies
        run: |
          pip install requests pydub 

      # 4️⃣ Transcribe audio
      - name: Run transcriptor CPP
        run: |
          # python3 -u transcriptor_cpp.py "https://github.com/Sparkplugx1904/voiceoftrisma/raw/refs/heads/main/assets/sample_vot.mp3" -m medium
          # python3 -u transcriptor_cpp.py "https://archive.org/download/vot-denpasar-20251122-183000/VOT-Denpasar_22-11-25-0.mp3" medium
          python3 -u transcriptor_cpp.py "https://github.com/Sparkplugx1904/Whisper-CPP/raw/refs/heads/main/samples/sample_vot.wav" large-v2

      # 5️⃣ Upload hasil transkrip sebagai artifact
      - name: Upload transcript artifact
        uses: actions/upload-artifact@v4
        with:
          name: vot-transcript
          path: transcripts/
          retention-days: 1
